<h1>Edit Blend</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.pipes_blend_path(@conn, :update, @blend)) %>

<span><%= link "Back", to: Routes.pipes_blend_path(@conn, :index) %></span>
