<section>
  <h1 class="text-orange-900 text-4xl font-bold text-center m-4"><%= @brand.name %></h1>
  <h5 class="text-orange-400 text-4xl font-bold text-center m-4"><%= gettext "Blends" %></h5>
</section>
