<div>
  <p><%= dgettext("users", "Hi %{email}", email: @user.email) %></p>
  <p><%= dgettext("users", "You can confirm your account by visiting the URL below:") %></p>
  <p><a href="<%= @url %>"><%= dgettext("users", "Confirm account") %></a></p>
  <p><%= dgettext("users", "If you didn't create an account with us, please ignore this.") %></p>
</div>
