<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || gettext("Tobacco's Club") %>

  <link
    phx-track-static
    rel="stylesheet"
    href={Routes.static_path(@conn, "/assets/app.css")} />

  <script
    defer
    phx-track-static
    type="text/javascript"
    src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <%= if Mix.env() == :prod do %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-W61F287MGT"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-W61F287MGT');
      </script>
    <% end %>
  </head>
  <body>
    <nav class="flex items-center justify-between flex-wrap bg-yellow-400 p-6">
      <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
        <%= svg_image_tag("logo") %>
      </div>
      <%= render "_user_menu.html", assigns %>
    </nav>
    <div class="container mx-auto">
      <%= @inner_content %>
    </div>
    <footer class="flex items-center justify-center flex-wrap p-6">
      <%= live_patch dgettext("contact", "Contact"),
        to: Routes.blends_index_path(@conn, :contact) %>
    </footer>
  </body>
</html>
